<%
  _httpsession.resp.status = 404
%>
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>404 Not Found</title>
</head><body>
<h1>Not Found</h1>
<p>The requested URL <%=_meta["REQUEST_URI"]%> was not found on this server.</p>
<hr>
<address>Hayabusa at <%=_meta["HTTP_HOST"]%></address>
</body></html>