<%
  print "1"
  
  cont = "2"
  t1 = _hb.thread do
    sleep 0.5
    cont << "4"
  end
  
  t2 = _hb.thread do
    sleep 0.1
    cont << "3"
  end
  
  t1.join
  t2.join_error
  
  cont << "5"
  
  print cont
%>