<%
  #Knj.p _hb.config
  #exit
  
  print "1"
  
  cont = "2"
  t1 = _hb.thread(:id => 4) do
    sleep 0.5
    cont << "4"
  end
  
  t2 = _hb.thread(:id => 3) do
    sleep 0.3
    cont << "3"
  end
  
  sleep 0.1
  
  raise "Expected thread 1 to be running but it wasnt." if !t1.running?
  raise "Expected thread 2 to be running but it wasnt." if !t2.running?
  
  t1.join
  t2.join_error
  
  cont << "5"
  
  print cont
%>