<%
  pdata = {}
  _post.each do |key, val|
    data = {
      "class" => val.class.name
    }
    
    if val.is_a?(Hayabusa::Http_session::Post_multipart::File_upload)
      data["val"] = val.to_s
    else
      data["val"] = val
    end
    
    pdata[key] = data
  end
  
  require "json"
  print Marshal.dump(pdata)
%>