<%
  print "1"
  
  _hb.threadded_content do
    print "2"
    sleep 0.5
  end
  
  print "3"
  
  _hb.threadded_content do
    print "4"
    
    _hb.threadded_content do
      print "5"
      sleep 0.2
    end
    
    sleep 0.3
  end
  
  print "6"
%>